/* body {
    background: linear-gradient(to bottom right, #3BC6F6 -25%, #ffffff, #D5D5D5, #FE4C6A 120%);
    background-attachment: fixed;
} */

form {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 5% auto;
    max-width: 300px;
    background-color: #ffffffc2;
    box-shadow: 0 0 0.2em #3C3B37;
}

section {
    margin-bottom: 5px;
}

form h2{
    padding: 2px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color:#3C3B37;
    letter-spacing: 0.5px;
}

form h3 {
    padding: 10px 0;
    color: #3C3B37;
}

.inputInformationLogin, .inputInformationCreate {
    padding: 3px 25px;
    text-align: center;
    display:flex;
    justify-content: space-between;
}

p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #3C3B37;
}

.input {
    height: 25px;
    border: solid 2px transparent;
    border-radius: 7px;
    margin: 7px 0;
    letter-spacing: 1px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 0 0.2em #3C3B37;
}

#firstName, #lastName {
    text-transform: capitalize;
}

.input:focus {
    border-color: #3C3B37;
    outline: none !important;
}

.other {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #3C3B37;
    padding: 0 25px;
}

.empty {
    height: 1px;
    width: 100px;
    background-color: #3C3B37;
}

form button{
    margin: 10px 25px;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-image: linear-gradient(135deg, #3BC6F6 -40%, #ffffff 50%, #FE4C6A 140%);
    border: none;
    border-radius: 5px;
    color: #3C3B37;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 0.2em #3C3B37;
}

form button:hover{
    background-image: linear-gradient(135deg,  #FE4C6A -40%, #ffffff 50%, #3BC6F6 140%);
}

span {
    vertical-align: middle;
}

#imgGoogle{
    height: 15%;
    width: 15%;
    padding-right: 10px;
    filter: drop-shadow(0 0 1px black);
}