body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 10px;
}

#logo > img{
    max-width: 50px;
}

#exit{
    max-width: 45px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}



#user-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.user-item{
    padding: 10px;
}

#hello-user{
    align-self: center;
}

#user-container > img{
    max-width: 50px;
}

#option-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.option-item{
    padding: 10px;
}

h4{
    padding-top: 27px;
    font-size: 14pt;
    padding-left: 25px;
}

h5{
    text-align: end;
    font-size: 12pt;
}


#post-container{
    padding: 33px;
    margin-top: 26px;
    background-color: rgb(201, 201, 201);
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#post-item{
    flex: 1;
}

.post-item > img{
    max-width: 50px;
    position: relative;
    top: 38%;
    margin-left: 34px;
    transform: translateY(-50%);
}

.post-item >p{
    margin-left: 5px;
    font-size: 10pt;
    position: relative;
    top: 23%;
    margin-left: 20px;
    transform: translateY(-50%);
}

#text-container{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

#date-container{
    display: flex;
    align-items: flex-end;
}

#text-post{
    align-self: center;
}

#container-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-edit{
  display: flex;
}

#like{
    display: block;
    max-height: 28px;
    max-width: 32px;
    margin-top: 2px;
    cursor: pointer;
}

#number-of-likes{
    display: block;
    font-size: 13pt;
    margin-left: 4px;
    margin-top: 10px;
}

#edit-post{
    display: block;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: underline;
}

#delete-post{
    display: block;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: underline;
}


@media only screen and (min-width: 1382px) { 

    #user-container > img{
        max-width: 100px;
    }

    h4{
        font-size: 20pt;
        text-align: center;
    }

    h5{
        text-align: end;
        padding-right: 40px;
        margin-right: 200px;
    }

    .post-item > img{
        max-width: 80px;
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    .post-item >p{
        font-size: 12pt;
        position: relative;
        top: 20%;
        transform: translateY(-50%);
        margin-left: 15px;
    }

    #post-container{
        margin: 0 auto;
        background-color: rgb(201, 201, 201);
        height: 200px;
        width: 78%;
    }

    #container-edit{
        margin: 0 auto;
        width: 70%;
        display:flex;
        justify-content: space-between;
    }


    #like{
        max-width: 40px;
        margin-top:5px;
        cursor: pointer;
    }


}