body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* margin: 10px; */
}

#recent-container{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

#recent-container >h4{
    font-size: 26px;
}

.post-container{
    padding: 33px;
    margin-top: 26px;
    background-color: #ffffffc2;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 2px transparent;
    box-shadow: 0 0 0.2em #3C3B37;
    border-radius: 5px;
}

.post-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.post-item > img{
    max-width: 65px;
}

#text-container{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.text-post{
    margin: 0px; 
    width: 311px; 
    height: 108px; 
    resize: none;
    text-align: center;
    border: solid 2px transparent;
    background-color: #ffffff;
    font-size:18px;
    border-radius: 5px;
}

#text-post:focus {
    border-color: #3C3B37;
    outline: none !important;
}

#container-date{
    display: flex;
    justify-content: flex-end;
}

#text-date{  
    font-size: 12px;
    color:#3C3B37;
}

#container-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 45px;
}

.item-edit{
  display: flex;
}

.btn-like{
    display: block;
    max-height: 28px;
    max-width: 32px;
    margin-top: 2px;
    cursor: pointer;
}

.btn-dislike{
    margin-top: 13px;
    margin-left: 10px;
    max-height: 28px;
    max-width: 32px;
    cursor: pointer;
}

#number-of-dilikes{
    display: block;
    font-size: 15pt;
    margin-left: 8px;
    margin-top: 8px;
    color: #FE4C6A;
    font-weight: 700;
}

#number-of-likes{
    display: block;
    font-size: 15pt;
    margin-left: 8px;
    margin-top: 8px;
    color: #3C3B37;
    font-weight: 700;
}

.btn-edit-post{
    display: none;
    max-height: 28px;
    max-width: 32px;
    margin-top: 2px;
    cursor: pointer;
    margin-right: 10px;
   
}

.btn-delete-post{
    display: none;
    max-height: 28px;
    max-width: 32px;
    margin-top: 2px;
    cursor: pointer;
}


@media only screen and (min-width: 801px) { 

    #recent-container{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding:40px 0;
        width: 78%;
    }

    .post-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 20px;
    }

    .post-item > img{
        max-width: 80px;
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    .post-container{
        margin: 0 auto;
        height: 200px;
        width: 78%;
    }

    .text-post{
        margin: 0px; 
        width: 800px;
        height: 108px; 
        resize: none;
        text-align: center;
        border: solid 2px transparent;
        background-color: #ffffff;
        font-size:18px;
        border-radius: 5px;
    }

    #container-date{
        margin: 0 auto;
        width: 78%;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    #container-edit{
        margin: 0 auto;
        width: 78%;
        display:flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    .btn-like{
        max-width: 40px;
        margin-top:5px;
        cursor: pointer;
    }

    .btn-like2{
        max-width: 40px;
        margin-top:5px;
        cursor: pointer;
    }
    
    .btn-dislike{
        margin-top: 15px;
        max-width: 40px;
        cursor: pointer;
        margin-left: 10px;
    }


}