.page-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;  
}   

.title {
  font-weight: bold;
  text-transform: uppercase;
  color: #3763ae;
  margin-right: 18em;
  padding-bottom: 0.5em;
}

#post-user {   
    border: solid gray 2px;
    border-radius: 5px; 
}

#postar {
    margin: 10px 25px;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #3763ae;
    border: solid 1px #3763ae;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 4px; 
     
}