.page-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 0.5em;
    margin-top: 20px;
}

#post-user {   
    border: solid 2px transparent;
    box-shadow: 0 0 0.2em #3C3B37;
    border-radius: 5px; 
    margin-top: 10px !important;
    padding: 5px;
    resize: none;
    color: #3c3b37;
}

#post-user:focus {
    border-color: #3C3B37;
    outline: none !important;
}

#postar {
    margin: 10px 25px;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-image: linear-gradient(135deg, #3BC6F6 -40%, #ffffff 50%, #FE4C6A 140%);
    border: none;
    box-shadow: 0 0 0.2em #3C3B37;
    border-radius: 5px;
    color: #3C3B37;
    font-weight: bold;
    letter-spacing: 4px; 
}

#postar:hover {
    background-image: linear-gradient(135deg,  #FE4C6A -40%, #ffffff 50%, #3BC6F6 140%);
}

#container-button{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: stretch;
}

@media only screen and (min-width: 801px) {
	#post-user { 
    width: 78%; 
    height: 200px;
    margin:auto;
    }
    
    .page-section{
        text-align:center;
    }

    #postar {
        margin: 10px auto;
    }
}


