
/* página de cadastro */
@import "login.css";

/* página de publicar */
@import "publicar.css";

/* página de visualizar publicações */
@import "publicacoes.css";


/* ---------GERAL------------------------ */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    text-decoration: none;
    border:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-image: url("../img/background-2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #3C3B37;
}


/* ----------------HEADER-------------------------- */

/* 
#logo {
    max-width: 50px;
}

#exit {
    max-width: 50px;
} */

/*  -----------------------NAVBAR-------------------------- * */

nav > ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.item-menu{
    text-transform: uppercase;
    text-decoration: none;
    color:#3C3B37;
    display: block;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/*  -----------------------ESTILO DO TOPO PAGINA PUBLICAR/PUBLICAÇOES-------------------------- */

#logo {
    max-width: 50px;
}

#exit{
    max-width: 45px;
    max-height: 45px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.option-item {
    color: #3C3B37;
    text-transform: uppercase;
    padding: 10px;
}

#user-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.user-item{
    padding: 10px;
}

#photo-user{
    max-height: 87px;
}

#hello-user{
    align-self: center;
}

#user-container > img{
    max-width: 73px;
}

#option-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

#option-container a:hover{
    color: #FE4C6A;
    text-decoration: underline overline;
}






@media only screen and (min-width: 1382px) { 

    #user-container > img{
        max-width: 100px;
    }

}

@media only screen and (max-width: 801px) {
    .option-item{
        font-size: 85%;
    }

    body {
        background-size: 95%;
    }
}