/* reset css */
@import "reset.css";

/* página de cadastro */
@import "login.css";

/* página de publicar */
@import "publicar.css";

/* página de visualizar publicações */
@import "publicacoes.css";


/* ---------GERAL------------------------ */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 10px;
}


/* ----------------HEADER-------------------------- */


#logo > img{
    max-width: 50px;
}

#exit > img{
    max-width: 50px;
}

/*  -----------------------NAVBAR-------------------------- * */

nav > ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.item-menu{
    text-transform: uppercase;
    text-decoration: none;
    color:#313131;
    display: block;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
